/*     -----     Set up, reset, and variables     -----     */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --one: hsl(83, 15%, 50%);
  --two: hsl(17, 48%, 50%);
  --three: hsl(210, 10%, 50%);
  --four: hsl(40, 49%, 50%);
  --five: hsl(185, 21%, 50%);
  --six: hsl(51, 15%, 50%);
  --offwhite: hsl(40, 20%, 93%);
}

/* This is for only testing and outlines everyting in pink so I can see what's what, safely ignore */
/* * { border: 1px pink solid} */


/*     -----     Main Block Elements     -----     */

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

nav {
}

a {
  color: var(--five);
  padding: 2px;
  border: white 0pt solid;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
  transition: 300ms;
}

a:hover {
  background-color: var(--five);
  color: var(--offwhite);
  text-decoration: none;
}

i {
  font-style: normal;
}

header {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--one);
  color: var(--offwhite);
  background-image: url(./images/blackvinyl.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  transition: 300ms;
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: var(--one);
  color: var(--offwhite);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

footer a {
  background-color: none;
  font-size: 3rem;
  color: var(--offwhite)
}

.footerLinks a {
  background-color: inherit;
  opacity: 0.5;
  transition: 300ms;
}

.footerLinks a:hover {
  background-color: inherit;
  opacity: 1;
}

.footerLinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}


/* .nav-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

section {
  width: 80%;
  margin: 5rem 0rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

strong {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-weight: 600;
}

hr {
  height: 4px;
  width: 100%;
  border-width: 0; 
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
}

#nav-toggle {
  font-size: 1.5rem;
}

#intro {

}

.content {
  width: 90%;
  margin: 3rem 0rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 2fr;
  /* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
  justify-content: center;
  align-items: top;
  text-align: left;
}

.content img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
    }
}

.imageGroup {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.imageGroup img {
  width: 100%;
}

.one { color: var(--one); }

.two { color: var(--two); }

.three { color: var(--three); }

.four { color: var(--four); }

.five { color: var(--five); }

.six { color: var(--one); }
