/*     -----     Set up, reset, and variables     -----     */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* This is for testing, outlines everyting in pink so I can see what's what, safely ignore */
/* * { border: 1px pink solid} */

:root {
  --one: hsl(83, 15%, 50%);
  --two: hsl(17, 48%, 50%);
  --three: hsl(210, 10%, 50%);
  --four: hsl(40, 49%, 50%);
  --five: hsl(185, 21%, 50%);
  --six: hsl(51, 15%, 50%);
  --offwhite: hsl(45, 20%, 90%);
}

/*     -----     Main Block Elements     -----     */

body {
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.nav-item {
  font-size: 2rem;
  font-weight: bolder;
}

hr {
  height: 4px;
  width: 100%;
  border-width: 0; 
}

section {
  width: 80%;
  padding: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 2rem;
}

section p {
  margin-top: 2rem;
}

.one h2 {
  color: var(--one);
}

.two h2 {
  color: var(--two);
}

.three h2 {
  color: var(--three);
}

.four h2 {
  color: var(--four);
}

.five h2 {
  color: var(--five);
}

.six h2 {
  color: var(--one);
}
